[submodule "Submodules/Engine"]
	path = Submodules/Engine
	url = https://github.com/novuscore/Engine.git
[submodule "Submodules/AssetConverter/Dependencies/Cuttlefish"]
	path = Submodules/AssetConverter/Dependencies/Cuttlefish
	url = https://github.com/akb825/Cuttlefish.git
