[submodule "Submodules/Engine"]
	path = Submodules/Engine
	url = https://github.com/novuscore/Engine.git
[submodule "Dependencies/cuttlefish/Cuttlefish"]
	path = Dependencies/cuttlefish/Cuttlefish
	url = https://github.com/akb825/Cuttlefish.git
